@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: 'Poppins', sans-serif;
}
/* index */
.bodi{
  background-color: rgb(215, 247, 247);
  /* height: 1240px; */
}

*{
    font-family: 'Poppins', sans-serif;
}

.txt{
  color: rgb(66, 61, 61);
}

.hvr:hover{
  background-color: rgb(124, 206, 238);
  color: white;
}

.aa{
  margin-top: 80px;
}
.iw{
  margin-top:70px;
}

.imgg{
width: 100px;
height: 130px;
}
/* index */

/* pengumuman */
.bodii{
  /* padding-top: 3rem; */
  /* padding-bottom: 3rem; */
  background-color: white;
}
.fto{
  max-width: 400px;
  max-height: 40vh;
}
.biru{
color: blue;
}
.hijau{
color: green;
}
.merah{
color: red;
}
.abu{
color: rgb(87, 90, 89);
}
.evn{

  height: ;
}
/* .footer{
  background-color: rgb(227, 236, 245);
} */

/* pengumuman */



  
